<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<form action="/home">
    <input type="submit" value="Home">
</form>

<body>
    <h1>
        <%=armor.name %> Armor
    </h1>
    <img src="<%=armor.image%>" style="max-height: 400px; max-width: 400px;">

    <h2>Information:</h2> <br>

    <p>
        <%=armor.description%>
    </p>

    <p>
        <%=armor.weight%> LBS
    </p>

    <p>
        $
        <%=armor.price%>
    </p>





</body>

<form action="/home/armor">
    <input type="submit" value="Go Back">
</form>


</html>