<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>
        <%=armor.name%> Armor
    </title>
</head>

<form action="/home">
    <input type="submit" value="Home">
</form>

<body>
    <h1>
        <%=armor.name %> Armor
    </h1>
    <img src="<%=armor.image%>" style="max-height: 400px; max-width: 400px;">

    <h2>Information:</h2> <br>

    <p>
        <%=armor.description%>
    </p>

    <p>
        <%=armor.weight%> LBS
    </p>

    <p>
        $
        <%=armor.price%>
    </p>







</body>

<% if(armor.quanity >= 1) { %>
    <p>
        Quanity :
        <%=armor.quanity%>
    </p>

    <form action='/home/armor/<%=armor._id%>/buy?_method=PUT' method='POST'>
        <input class="armorShowBuyButton" type='submit' value="Buy">
    </form>

    <% } else { %>
        <h3 style="color: red">OUT OF STOCK</h3>
        <% } %>


            <form action="/home/armor">
                <input type="submit" value="Back">
            </form>

            <form action="/home/armor/<%=armor.id%>/edit">
                <input type="submit" value="EDIT">
            </form>


</html>