<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Edit Equipment</title>
</head>

<nav class="equipmentEditHeaderButtons">

    <form action="/home/equipment">
        <input class="equipmentEditBackHeaderButton button" type="submit" value="Back">
    </form>

    <form action="/home">
        <input class="equipmentEditHomeHeaderButton button" type="submit" value="Home">
    </form>

</nav>

<body class="equipmentEditBody">

    <h1 class="equipmentEditH1">Edit Equipment</h1>

    <form action="/home/equipment/<%=equipment._id%>?_method=PUT" method="post">


        <div class="equipmentEditTopTwoInput">
            <div class="equipmentEditInputBox">
                <input class="equipmentEditActualInputBox input" type="text" name="name" placeholder="Equipment Name" value="<%=equipment.name%>" autocomplete="off" required>
            </div>

            <div class="equipmentEditInputBox">
                <input class="equipmentEditActualInputBox input" type="text" name="description" placeholder="Description" value="<%=equipment.description%>" autocomplete="off" required>
            </div>
        </div>

        <div class="equipmentEditMiddleTwoInput">
            <div class="equipmentEditInputBox">
                <input class="equipmentEditActualInputBox input" type="text" name="image" placeholder="Image URL" value="<%=equipment.image%>" autocomplete="off">
            </div>

            <div class="equipmentEditInputBox">
                <input class="equipmentEditActualInputBox input" type="text" name="quanity" placeholder="Quanity" value="<%=equipment.quanity%>" autocomplete="off" required>
            </div>
        </div>

        <div class="equipmentEditBottomInput">
            <div class="equipmentEditInputBox">
                <input class="equipmentEditActualInputBox input" type="text" name="price" placeholder="Price" value="<%=equipment.price%>" autocomplete="off" required>
            </div>
        </div>

        <br>


        <input class="equipmentEditCreateHeaderButton button" type="submit" value="Submit Changes">


    </form>


</body>

</html>