<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Equipment</title>
</head>


<nav class="equipmentIndexHeaderButtons">

    <div class="equipmentIndexBack">
        <form action="/home">
            <input class="equipmentIndexHeaderButton" type="submit" value="Back">
        </form>
    </div>

    <div class="equipmentIndexNew">
        <form action="/home/equipment/new">
            <input class="equipmentIndexHeaderButton" type="submit" value="Create New Equipment">
        </form>
    </div>

    <div class="equipmentIndexRefresh">
        <form action="/home/equipment/seed">
            <input class="equipmentIndexHeaderButton" type="submit" value="Refresh the product">
        </form>
    </div>

    <div class="equipmentIndexHome">
        <form action="/home">
            <input class="equipmentIndexHeaderButton" type="submit" value="Home">
        </form>
    </div>

</nav>

<body class="equipmentIndexBody">
    <h1 class="equipmentIndexH1">Our Equipment</h1>


    <ul class="equipmentUL">
        <% equipments.forEach(equipment=> { %>


            <li>





                <div class="equipmentIndexName">
                    <%= equipment.name %> <br></div>
                <a href="/home/equipment/<%=equipment._id%>" style="text-decoration: none; color: black;">
                    <div class="equipmentIndexImage"><img src="<%= equipment.image %>" style="max-height: 450px; max-width: 450px;"></div><br>

                </a>

                <div class="equipmentIndexDeleteEdit">
                    <div class="equipmentIndexDeleteButton">
                        <form action="/home/equipment/<%=equipment.id%>?_method=DELETE" method="POST">
                            <input class="equipmentIndexDelete" type="submit" value="DELETE">
                        </form>
                    </div>

                    <div clas="equipmentIndexEditButton">
                        <form action="/home/equipment/<%=equipment.id%>/edit">
                            <input class="equipmentIndexEdit" type="submit" value="EDIT">
                        </form>
                    </div>
                </div>



            </li>

            <br>

            <% }) %>







    </ul>

</body>



</html>