<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<form action="/home">
    <input type="submit" value="Home">
</form>

<body>
    <h1>
        <%=equipment.name %>
    </h1>
    <img src="<%=equipment.image%>" style="max-height: 400px; max-width: 400px;">

    <h2>Information:</h2> <br>

    <p>
        <%=equipment.description%>
    </p>

    <p>
        $
        <%=equipment.price%>
    </p>





</body>

<% if(equipment.quanity >= 1) { %>

    <p>
        Quanity :
        <%=equipment.quanity%>
    </p>

    <form action='/home/equipment/show/<%=equipment._id%>'>
        <input type='submit' value="Buy">
    </form>

    <% } else { %>
        <h3 style="color: red;">OUT OF STOCK</h3>
        <% } %>







            <form action="/home/equipment">
                <input type="submit" value="Go Back">
            </form>


</html>