<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Edit Weapon</title>
</head>

<nav class="weaponEditHeaderButtons">

    <form action="/home/weapons">
        <input class="weaponEditBackHeaderButton" type="submit" value="Back">
    </form>

    <form action="/home">
        <input class="weaponEditHomeHeaderButton" type="submit" value="Home">
    </form>

</nav>

<body class="weaponEditBody">

    <h1 class="weaponEditH1">Edit Weapon</h1>

    <form action="/home/weapons/<%=weapon._id%>?_method=PUT" method="post">


        <div class="weaponEditTopTwoInput">
            <div class="weaponEditInputBox">
                <input class="weaponEditActualInputBox" type="text" name="name" placeholder="Weapon Name" value="<%=weapon.name%>" autocomplete="off" required>
            </div>

            <div class="weaponEditInputBox">
                <input class="weaponEditActualInputBox" type="text" name="description" placeholder="Description" value="<%=weapon.description%>" autocomplete="off" required>
            </div>
        </div>

        <div class="weaponEditMiddleTwoInput">
            <div class="weaponEditInputBox">
                <input class="weaponEditActualInputBox" type="text" name="weight" placeholder="Weight" value="<%=weapon.weight%>" autocomplete="off" required>
            </div>s

            <div class="weaponEditInputBox">
                <input class="weaponEditActualInputBox" type="text" name="price" placeholder="Price" value="<%=weapon.price%>" autocomplete="off" required>
            </div>
        </div>

        <div class="weaponEditBottomTwoInput">
            <div class="weaponEditInputBox">
                <input class="weaponEditActualInputBox" type="text" name="image" placeholder="Image URL" value="<%=weapon.image%>" autocomplete="off">
            </div>

            <div class="weaponEditInputBox">
                <input class="weaponEditActualInputBox" type="text" name="quanity" placeholder="Quanity" value="<%=weapon.quanity%>" autocomplete="off" required>
            </div>
        </div>

        <br>


        <input class="weaponEditCreateHeaderButton" type="submit" value="Submit Changes">


    </form>


</body>

</html>