<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This is the Weapons Edit Page</h1>

    <form action="/home/weapons/<%=weapon._id%>?_method=PUT" method="POST">

        <div>
            Name: <input type="text" name="name" value="<%=weapon.name%>"><br>
        </div>

        <div>
            Image: <input type="text" name="image" value="<%=weapon.image%>"><br>
        </div>

        <div>
            Description: <input type="text" name="description" value="<%=weapon.description%>"><br>
        </div>

        <div>
            Weight: <input type="text" name="weight" value="<%=weapon.weight%>"><br>
        </div>

        <div>
            Price: <input type="text" name="price" value="<%=weapon.price%>"><br>
        </div>

        <div>
            Quanity: <input type="text" name="quanity" value="<%=weapon.quanity%>">
        </div>

        <div>
            <input type="submit" value="Submit Changes">
        </div>



    </form>
</body>

</html>