<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weapons</title>
</head>



<nav>

    <form action="/home/weapons/seed">
        <input type="submit" value="Refresh the product">
    </form>


    <form action="/home/weapons/new">
        <input type="submit" value="Create New Weapon">
    </form>

    <form action="/home">
        <input type="submit" value="Back">
    </form>

</nav>

<body>
    <h1>This is the index Weapons page</h1>

</body>

<ul>
    <% weapons.forEach(weapon=> { %>
        <li>




            <a href="/home/weapons/<%=weapon._id%>" style="text-decoration: none; color: black">
                <%= weapon.name %> <br>
                    <img src="<%= weapon.image %>" style="max-height: 250px; max-width: 250px;">
            </a>

            <form action="/home/weapons/<%= weapon.id %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE" />
            </form>

            <form action="/home/weapons/<%=weapon.id%>/edit">
                <input type="submit" value="EDIT">
            </form>



        </li>
        <% }) %>








</ul>

</html>