<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=weapon.name%>
    </title>
</head>

<nav>

    <form action="/home">
        <input type="submit" value="Home">
    </form>

</nav>

<body>
    <h1>
        <%=weapon.name %>
    </h1>
    <img src="<%=weapon.image%>" style="max-height: 400px; max-width: 400px;">

    <h2>Information:</h2> <br>

    <p>
        <%=weapon.description%>
    </p>

    <p>
        $
        <%=weapon.price%>
    </p>





</body>

<% // If statement deciding one whether there is a quanity and a buy button, or its out of stock %>

    <% if(weapon.quanity >=1) { %>

        <p>
            Quanity :
            <%=weapon.quanity%>
        </p>

        <form action='/home/weapons/<%=weapon._id%>/buy?_method=PUT' method='POST'>
            <input type='submit' value="Buy">
        </form>

        <% } else { %>
            <h3 style="color: red;">OUT OF STOCK</h3>
            <% } %>


                <form action="/home/weapons">
                    <input type="submit" value="Back">
                </form>

                <form action="/home/weapons/<%=weapon.id%>/edit">
                    <input type="submit" value="EDIT">
                </form>


</html>