<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<nav>

    <form action="/home">
        <input type="submit" value="Home">
    </form>

</nav>

<body>
    <h1>
        <%=weapon.name %>
    </h1>
    <img src="<%=weapon.image%>" style="max-height: 400px; max-width: 400px;">

    <h2>Information:</h2> <br>

    <p>
        <%=weapon.description%>
    </p>

    <p>
        $
        <%=weapon.price%>
    </p>

    <p>
        Quanity :
        <%=weapon.quanity%>
    </p>




</body>

<form action='/home/weapons/show/<%=weapon._id%>'>
    <input type='submit' value="Buy">
</form>

<form action="/home/weapons">
    <input type="submit" value="Go Back">
</form>


</html>