<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>
        <%=weapon.name%>
    </title>
</head>


    <body class="weaponShowBody">

        <form action="/home/weapons">
            <input class="headerButton button" type="submit" value="Back">
        </form>

        <div class="weaponImageAndInfo">

            <div class="weaponShowLeftHalf">

                <img class="weaponShowImage" src="<%=weapon.image%>">


            </div>

            <div class="weaponShowRightHalf">

                <div class="armorShowBottomRightHalf">

                    <h1 class="weaponShowH1">
                        <%=weapon.name %>
                    </h1>

                    <h2 class="weaponShowH2">Information:</h2> <br>

                    <p>
                        <%=weapon.description%>
                    </p>

                    <p>
                        $
                        <%=weapon.price%>
                    </p>

                    <p>
                        <%=weapon.weight%> LBS
                    </p>

                    <p>
                        Quanity :
                        <%=weapon.quanity%>
                    </p>

                </div>

            </div>


            <form action="/home/weapons/<%=weapon.id%>/edit">
                <input class="headerButton button" type="submit" value="Edit">
            </form>


            <% // If statement deciding one whether there is a quanity and a buy button, or its out of stock %>

            <% if(weapon.quanity >=1) { %>

            <form action='/home/weapons/<%=weapon._id%>/buy?_method=PUT' method='POST'>
                <input class="headerButton button" type='submit' value="Buy">
            </form>

            <% } else { %>
            <h3 style="color: red;">OUT OF STOCK</h3>
            <% } %>

        </div>


    </div>

    <form action="/home">
        <input class="headerButton button" type="submit" value="Home">
    </form>


</body>

</html>